*{
  box-sizing: border-box;
  color: white;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  align-items: space-between;
}
body {
  font-family: 'Shrikhand', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 30px; 
}

select {
  /* General styling */
height: 30px;
width: 100px;
border-radius: 0;
padding-left: 10px;

/* Removes the default <select> styling */
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}


.song-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.multiple-songs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}


label, #random-song-button{
  display: block;
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  text-align: center;
  background-color: black;
  color: red;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#select-form #random-song-button .category-select  {
  background-color: black;
  padding: 10px;
  align-self: center;
}
div#random-song {
  display: flex;
  justify-content: center;
}
div#header-container {
  display: flex;
  position: relative;
}
#landing-page-img{
  width: 100%;
}

#header-text{
  font-family: 'Saira Condensed', sans-serif;
  align-self: center;
  position: absolute;
  left: 70%;
  top: 80%;
  font-size: 50px;
  color: white;
}



.button {
  background-color: black; 
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#song-button {
  height: 60px;
  background-color: red;
  font-size: 16px;
  font-family: 'Saira Condensed', sans-serif;
}
#soundwave-wrapper {
  width: 100%;
}

#options-select {
  border-style: solid;
  display: flex;
  justify-content: center;
}
#dance-floor {
  align-self: center;
  margin: 10%;
}